In [1]:
%load_ext sql

In [2]:
"create an empty database called library"
%sql sqlite:///library.db

In [3]:
"STEP 5: SQL SCHEMA"

'STEP 5: SQL SCHEMA'

In [4]:
%%sql
CREATE TABLE Item(
    itemID INTEGER,
    title CHAR(20) NOT NULL,
    author CHAR(20)NOT NULL,
    genre CHAR(10) NOT NULL,
    format CHAR(10) NOT NULL,
    availabilityStatus CHAR(1) NOT NULL,
    PRIMARY KEY(itemID)
);

 * sqlite:///library.db
Done.

[]

In [5]:
%%sql
CREATE TABLE User (
    userID INTEGER,
    firstName CHAR(15) NOT NULL,
    lastName CHAR(15) NOT NULL,
    contactDetails TEXT,
    PRIMARY KEY(userID)
);

 * sqlite:///library.db
Done.

[]

In [6]:
%%sql
CREATE TABLE Borrowing (
    borrowingID INTEGER,
    userID INTEGER NOT NULL,
    itemID INTEGER NOT NULL,
    borrowingDate DATE NOT NULL,
    dueDate DATE NOT NULL,
    returnDate DATE,
    fines REAL,
    FOREIGN KEY (userID) REFERENCES User (userID),
    FOREIGN KEY (itemID) REFERENCES Item (itemID),
    PRIMARY KEY(borrowingID)
);

 * sqlite:///library.db
Done.

[]

In [7]:
%%sql
CREATE TABLE Event (
    eventID INTEGER,
    eventName CHAR(20) NOT NULL,
    description TEXT,
    date DATE NOT NULL,
    time TIME NOT NULL,
    targetAudience TEXT,
    PRIMARY KEY(eventID)
);

 * sqlite:///library.db
Done.

[]

In [8]:
%%sql
CREATE TABLE Personnel (
    personnelID INTEGER PRIMARY KEY,
    firstName CHAR(15) NOT NULL,
    lastName CHAR(15) NOT NULL,
    jobTitle TEXT NOT NULL,
    contactDetails TEXT
);

 * sqlite:///library.db
Done.

[]

In [9]:
%%sql
CREATE TABLE Organised (
    personnelID INTEGER NOT NULL,
    eventID INTEGER NOT NULL,
    FOREIGN KEY (personnelID) REFERENCES Personnel (personnelID),
    FOREIGN KEY (eventID) REFERENCES Event (eventID),
    PRIMARY KEY (personnelID, eventID)
);

 * sqlite:///library.db
Done.

[]

In [10]:
%%sql
CREATE TABLE Invited (
    userID INTEGER NOT NULL,
    eventID INTEGER NOT NULL,
    FOREIGN KEY (userID) REFERENCES User (userID),
    FOREIGN KEY (eventID) REFERENCES Event (eventID),
    PRIMARY KEY (userID, eventID)
);

 * sqlite:///library.db
Done.

[]

In [11]:
%%sql
CREATE TABLE ProposedItem (
    proposedItemID INTEGER,
    itemName CHAR(20)NOT NULL,
    description TEXT,
    format TEXT NOT NULL,
    PRIMARY KEY(proposedItemID)
);

 * sqlite:///library.db
Done.

[]

In [12]:
"STEP 6: POPULATING THE TABLES"

'STEP 6: POPULATING THE TABLES'

In [13]:
%%sql
INSERT INTO Item (title, author, genre, format, availabilityStatus)
VALUES
    ('The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', 'Print Book', 'Y'),
    ('The Da Vinci Code', 'Dan Brown', 'Mystery', 'Print Book', 'Y'),
    ('Harry Potter and the Sorcerer''s Stone', 'J.K. Rowling', 'Fantasy', 'Print Book', 'Y'),
    ('To Kill a Mockingbird', 'Harper Lee', 'Classic', 'Print Book', 'Y'),
    ('1984', 'George Orwell', 'Dystopian', 'Print Book', 'Y'),
    ('The Catcher in the Rye', 'J.D. Salinger', 'Coming-of-age', 'Print Book','Y'),
    ('The Lord of the Rings', 'J.R.R. Tolkien', 'Fantasy', 'Print Book','Y'),
    ('Inception (Movie)', 'Christopher Nolan', 'Science Fiction', 'DVD', 'Y'),
    ('Thriller (Album)', 'Michael Jackson', 'Pop', 'CD', 'Y'),
    ('National Geographic', 'Various Authors', 'Magazine', 'Print Magazine', 'Y');

 * sqlite:///library.db
10 rows affected.

[]

In [14]:
%%sql
INSERT INTO User (firstName, lastName, contactDetails)
VALUES
    ('John', 'Doe', 'john.doe@example.com'),
    ('Jane', 'Smith', 'jane.smith@example.com'),
    ('Michael', 'Johnson', NULL),
    ('Emily', 'Williams', 'emily.williams@example.com'),
    ('David', 'Brown', 'david.brown@example.com'),
    ('Sarah', 'Davis', NULL),
    ('Robert', 'Taylor', 'robert.taylor@example.com'),
    ('Jennifer', 'Anderson', 'jennifer.anderson@example.com'),
    ('Daniel', 'Thomas', NULL),
    ('Lisa', 'Martinez', 'lisa.martinez@example.com');

 * sqlite:///library.db
10 rows affected.

[]

In [15]:
%%sql
INSERT INTO Borrowing (userID, itemID, borrowingDate, dueDate, returnDate, fines)
VALUES
    (1, 2, '2023-07-15', '2023-08-15', NULL, NULL),
    (3, 5, '2023-07-20', '2023-08-20', NULL, NULL),
    (2, 7, '2023-07-25', '2023-08-25', NULL, NULL),
    (4, 1, '2023-07-12', '2023-08-12', '2023-08-10', 2.50),
    (5, 3, '2023-07-18', '2023-08-18', NULL, NULL),
    (7, 6, '2023-07-22', '2023-08-22', NULL, NULL),
    (6, 9, '2023-07-27', '2023-08-27', NULL, NULL),
    (10, 8, '2023-07-10', '2023-08-10', '2023-08-07', 1.75),
    (9, 4, '2023-07-13', '2023-08-13', NULL, NULL),
    (8, 10, '2023-07-28', '2023-08-28', NULL, NULL);

 * sqlite:///library.db
10 rows affected.

[]

In [16]:
%%sql
INSERT INTO Event (eventName, description, date, time, targetAudience)
VALUES
    ('Book Club Meeting', 'Discussing "The Great Gatsby"', '2023-08-01', '18:00', 'Book Club Members'),
    ('Movie Night', 'Screening "Inception"', '2023-08-05', '19:30', 'All Library Visitors'),
    ('Author Talk', 'Meet the Author of "The Da Vinci Code"', '2023-08-08', '17:00', 'General Public'),
    ('Children''s Storytelling', 'Interactive storytelling session for kids', '2023-08-12', '10:30', 'Children (Ages 4-8)'),
    ('Music Concert', 'Live performance by local bands', '2023-08-15', '20:00', 'Music Enthusiasts'),
    ('Movie Night', 'Screening "The Lord of the Rings: The Fellowship of the Ring"', '2023-08-20', '19:00', 'All Library Visitors'),
    ('Science Fiction Book Talk', 'Discussing "1984" and other dystopian novels', '2023-08-22', '18:30', 'Science Fiction Fans'),
    ('Teen Art Show', 'Art exhibition showcasing works by local teenagers', '2023-08-25', '15:00', 'Teenagers (Ages 13-18)'),
    ('Classics Discussion', 'Conversation on classic literature', '2023-08-29', '17:30', 'Literature Enthusiasts'),
    ('Cooking Workshop', 'Hands-on cooking class for beginners', '2023-08-30', '16:00', 'Food Enthusiasts');

 * sqlite:///library.db
10 rows affected.

[]

In [17]:
%%sql
INSERT INTO Event (eventName, description, date, time, targetAudience)
VALUES
    ('Book Club Meeting', 'Discussing "The Great Gatsby"', '2023-08-01', '18:00', 'Book Club Members'),
    ('Movie Night', 'Screening "Inception"', '2023-08-05', '19:30', 'All Library Visitors'),
    ('Author Talk', 'Meet the Author of "The Da Vinci Code"', '2023-08-08', '17:00', 'General Public'),
    ('Children''s Storytelling', 'Interactive storytelling session for kids', '2023-08-12', '10:30', 'Children (Ages 4-8)'),
    ('Music Concert', 'Live performance by local bands', '2023-08-15', '20:00', 'Music Enthusiasts'),
    ('Movie Night', 'Screening "The Lord of the Rings: The Fellowship of the Ring"', '2023-08-20', '19:00', 'All Library Visitors'),
    ('Science Fiction Book Talk', 'Discussing "1984" and other dystopian novels', '2023-08-22', '18:30', 'Science Fiction Fans'),
    ('Teen Art Show', 'Art exhibition showcasing works by local teenagers', '2023-08-25', '15:00', 'Teenagers (Ages 13-18)'),
    ('Classics Discussion', 'Conversation on classic literature', '2023-08-29', '17:30', 'Literature Enthusiasts'),
    ('Cooking Workshop', 'Hands-on cooking class for beginners', '2023-08-30', '16:00', 'Food Enthusiasts');

 * sqlite:///library.db
10 rows affected.

[]

In [18]:
%%sql 
INSERT INTO Organised (personnelID, eventID)
VALUES
    (1, 1),
    (3, 2),
    (1, 3),
    (5, 4),
    (2, 5),
    (3, 6),
    (2, 7),
    (3, 8),
    (1, 9),
    (3, 10);

 * sqlite:///library.db
10 rows affected.

[]

In [19]:
%%sql
INSERT INTO Invited (userID, eventID)
VALUES
    (1, 1),
    (2, 1),
    (3, 2),
    (5, 2),
    (6, 2),
    (4, 3),
    (7, 3),
    (8, 3),
    (9, 4),
    (10, 4);

 * sqlite:///library.db
10 rows affected.

[]

In [20]:
%%sql 
INSERT INTO ProposedItem (itemName, description, format) 
VALUES
    ('Proposal Book 1', 'This is a proposed item for the library collection.', 'Print Book'),
    ('Future Novel 2', 'Exciting new book to consider for the library.', 'Online Book'),
    ('Upcoming CD 3', 'Recommended CD for the library''s music collection.', 'CD'),
    ('Online Course 4', 'Online course on a popular topic.', 'Online Course'),
    ('Art Magazine 5', 'Magazine featuring art and creativity.', 'Print Magazine'),
    ('Audio Book 6', 'Audio book for literature enthusiasts.', 'Online Audio'),
    ('Documentary DVD 7', 'Educational DVD on a fascinating topic.', 'DVD'),
    ('Science Journal 8', 'Scientific journal with the latest research.', 'Online Journal'),
    ('Children''s Storybook 9', 'Engaging children''s storybook for young readers.', 'Print Book'),
    ('Photography Exhibition 10', 'Photography exhibition for art lovers.', 'Art Exhibition');

 * sqlite:///library.db
10 rows affected.

[]